<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet2</servlet-name>
        <servlet-class>mypack.LoginServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>mypack.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet2</servlet-name>
        <servlet-class>mypack.LogOutServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogInServlet3</servlet-name>
        <servlet-class>LogInServlet3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDetails</servlet-name>
        <servlet-class>mypack.StudentDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDetail</servlet-name>
        <servlet-class>mypack.StudentDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDetails</servlet-name>
        <servlet-class>mypack.Admin_Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RouteDetails</servlet-name>
        <servlet-class>RouteDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RouteDetail</servlet-name>
        <servlet-class>mypack.RouteDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Driver_detail</servlet-name>
        <servlet-class>mypack.Driver_detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDetail</servlet-name>
        <servlet-class>mypack.Admindetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detail</servlet-name>
        <servlet-class>mypack.detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDrivers</servlet-name>
        <servlet-class>mypack.AdminDrivers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_drivers</servlet-name>
        <servlet-class>mypack.Add_drivers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBus</servlet-name>
        <servlet-class>mypack.AdminBus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_bus</servlet-name>
        <servlet-class>mypack.Add_bus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet2</servlet-name>
        <url-pattern>/LoginServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet2</servlet-name>
        <url-pattern>/LogOutServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogInServlet3</servlet-name>
        <url-pattern>/LogInServlet3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentDetails</servlet-name>
        <url-pattern>/StudentDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentDetail</servlet-name>
        <url-pattern>/StudentDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDetails</servlet-name>
        <url-pattern>/AdminDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RouteDetails</servlet-name>
        <url-pattern>/RouteDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RouteDetail</servlet-name>
        <url-pattern>/RouteDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Driver_detail</servlet-name>
        <url-pattern>/Driver_detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDetail</servlet-name>
        <url-pattern>/AdminDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detail</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDrivers</servlet-name>
        <url-pattern>/AdminDrivers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_drivers</servlet-name>
        <url-pattern>/Add_drivers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBus</servlet-name>
        <url-pattern>/AdminBus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_bus</servlet-name>
        <url-pattern>/Add_bus</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
